<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>506178372311-3klcr2gp3aggd1d5cp4hurml3h32gcb9.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.506178372311-3klcr2gp3aggd1d5cp4hurml3h32gcb9</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>506178372311-irrq1c1lfg2mstj0r4id2ftmdk4aa7n4.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyDO6NDTB8wQ3jzPFpnOEa08VOdJS4dP3pg</string>
		<key>GCM_SENDER_ID</key>
		<string>506178372311</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.twigcodes.taskittyFlutter</string>
		<key>PROJECT_ID</key>
		<string>taskitty-c64b1</string>
		<key>STORAGE_BUCKET</key>
		<string>taskitty-c64b1.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:506178372311:ios:ff4c7b513799d0d1f8e692</string>
	</dict>
</plist>